

.myButton {
  border-radius:14px;
transform:translate(80px,-100px)
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}


.add_button {
  transform: translate(425px,20px);
  background-color: #ffffff;
  border-radius:28px;
  border:1px solid #312a2a;
  display:inline-block;
  cursor:pointer;
  /*字color*/
  color: #000000;

  font-family:Arial;
  font-size:17px;
  padding:25px 150px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.add_button:hover {
  background-color:#5cbf2a;
}
.add_button:active {
  position:relative;
  top:1px;
}

.delete_button{
  transform:translate(146px,-20px)

}
.delete_button:hover {
  background-color:#5cbf2a;
}

.total_body{

  /*vertical-align: middle;*/
  /*border:1px solid #312a2a;*/
  /*display:inline-block;*/
}


/*這邊開始省略字數的控制*/
.box {
  width: 500px;
  padding: 0px;
  background-color: #ffffff;
  border-radius:28px;
  border:1px solid #312a2a;
  display:inline-block;
  /*字color*/
  color: #000000;
  font-size: 20px;
  text-align:left;
  font-family:Arial;
  padding:20px 120px;
  text-decoration:none;
  /*text-shadow:0px 1px 0px #2f6627;*/
  word-wrap: break-word;
  /*transform:translateX(-2px);*/
  /*border: #4caf50 2px solid;*/
}

.ellipsis1 {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis2 {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis3 {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ellipsis4 {
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
