.mainTable {
  /*border: #5cbf2a solid;*/
  width: 95%;
  font-family: 'Comic Sans MS', serif;
  font-size: 24px;
}

.mainTable td {
  padding: 0 10px 10px 10px;
  text-align: left;
}

mat-checkbox {
  margin-right: 25px;
  font-family: 'Comic Sans MS', serif;
}

mat-checkbox:last-child {
  margin-right: 0;
}
