<div style="padding:0 10px 10px 10px;">
  <div class="myButton" style="display: inline; border-bottom: #0b2e13 solid; padding-bottom: 10px">
      <button class={{IssueTrackButton}} (click)="getIssueTrack()">Git Issues</button>
      <button class={{ContributorButton}} (click)="getContributor()">Contributor</button>
      <button class={{CodeBaseButton}} (click)="getCodeBase()">Code Base</button>
      <button class={{CommitButton}} (click)="getCommitTrend()">Commit</button>
      <button class={{IssueListButton}} (click)="getBugList()">Sonar Issues</button>
      <button class={{RepoInfoButton}} (click)="getRepoInfo()">Repo Info</button>
  </div>

  <div id="total_canvas" style="display:none; margin-top: 30px; width: 76%">
    <div style="text-align: center; margin-bottom: 15px">
      <span style="border-bottom: rgba(220, 220, 220, 0.6) solid 3px; padding-bottom: 2px; font-weight: bold">
        <span style="color: #7a7a7a">{{commitTitleList[0]}} commits </span>
        <span style="color: #7a7a7a">/ </span><span style="color: #3CB371">{{commitTitleList[1]}} ++ </span>
        <span style="color: #7a7a7a">/ </span><span style="color: #A52A2A">{{commitTitleList[2]}} -- </span>
      </span>
    </div>
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>

  <div id="codebase_canvas" style="display:none; margin-top: 30px; width: 76%">
    <div style="text-align: center; margin-bottom: 15px">
      <span style="border-bottom: rgba(220, 220, 220, 0.6) solid 3px; padding-bottom: 2px; font-weight: bold">
        <span style="color: #7a7a7a">{{codebaseTitleList[0]}} lines </span>
      </span>
    </div>
    <canvas baseChart
            [datasets]="barCodeBaseChartData"
            [labels]="barCodeBaseChartLabels"
            [options]="barCodeBaseChartOptions"
            [legend]="barCodeBaseChartLegend"
            [chartType]="barCodeBaseChartType">
    </canvas>
  </div>

  <div id="contributor_canvas" style="display:none; margin-top: 30px">
    <ng-container *ngFor="let barChar of tatolbarCharlist; let i = index">
      <ng-container *ngIf="i%2 == 0 && i+1 < tatolbarCharlist.length">
        <tr>
          <td style="padding-bottom: 15px;">
            <caption style="text-align:center; color:blue; font-weight: bold">
              <div style="margin-bottom: 10px;">
                <a href={{tatolbarCharlist[i][9]}} style="text-decoration: none" target="_blank">{{tatolbarCharlist[i][5]}}</a><br>
                <span style="border-bottom: rgba(220, 220, 220, 0.6) solid 3px; padding-bottom: 2px">
                  <span style="color: #7a7a7a">{{tatolbarCharlist[i][6]}} commits </span>
                  <span style="color: #7a7a7a">/ </span><span style="color: #3CB371">{{tatolbarCharlist[i][7]}} ++ </span>
                  <span style="color: #7a7a7a">/ </span><span style="color: #A52A2A">{{tatolbarCharlist[i][8]}} -- </span>
                </span>
              </div>
              <canvas baseChart width="500%"
                      [datasets]="tatolbarCharlist[i][4]"
                      [labels]="tatolbarCharlist[i][3]"
                      [options]="tatolbarCharlist[i][0]"
                      [legend]="tatolbarCharlist[i][2]"
                      [chartType]="tatolbarCharlist[i][1]">
              </canvas>
            </caption>
          </td>
          <td style="padding-bottom: 15px;">
            <caption style="text-align:center; color:blue; font-weight: bold">
              <div style="margin-bottom: 10px;">
                <a href={{tatolbarCharlist[i+1][9]}} style="text-decoration: none" target="_blank">{{tatolbarCharlist[i+1][5]}}</a><br>
                <span style="border-bottom: rgba(220, 220, 220, 0.6) solid 3px; padding-bottom: 2px">
                  <span style="color: #7a7a7a">{{tatolbarCharlist[i+1][6]}} commits </span>
                  <span style="color: #7a7a7a">/ </span><span style="color: #3CB371">{{tatolbarCharlist[i+1][7]}} ++ </span>
                  <span style="color: #7a7a7a">/ </span><span style="color: #A52A2A">{{tatolbarCharlist[i+1][8]}} -- </span>
                </span>
              </div>
              <canvas baseChart  width="500%"
                      [datasets]="tatolbarCharlist[i+1][4]"
                      [labels]="tatolbarCharlist[i+1][3]"
                      [options]="tatolbarCharlist[i+1][0]"
                      [legend]="tatolbarCharlist[i+1][2]"
                      [chartType]="tatolbarCharlist[i+1][1]">
              </canvas>
            </caption>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="i+1 == tatolbarCharlist.length && tatolbarCharlist.length%2 == 1">
        <tr>
          <td>
            <caption style="text-align:center; color:blue">{{tatolbarCharlist[i][5]}}
              <canvas baseChart width="500%"
                      [datasets]="tatolbarCharlist[i][4]"
                      [labels]="tatolbarCharlist[i][3]"
                      [options]="tatolbarCharlist[i][0]"
                      [legend]="tatolbarCharlist[i][2]"
                      [chartType]="tatolbarCharlist[i][1]">
              </canvas>
            </caption>
          </td>
          <td>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </div>

  <div id="issue_track" style="display:none; margin-top: 30px">
    <app-issue-track></app-issue-track>
  </div>

  <div id="bug_list" style="display:none; margin-top: 30px">
    <app-buglist></app-buglist>
  </div>

  <div id="repo_info" style="display:none; margin-top: 30px; width: 95%">
    <table class="RepoInfoTable">
      <col style="width: 285px">
      <col style="width: auto">

      <tr>
        <td>
          <img class="ProjectNameImg" src="./assets/images/ProjectName.png" width="30" height="30" alt="ProjectName">
          Project Name
        </td>
        <td>
          {{projectName}}
        </td>
      </tr>
      <tr>
        <td>
          <img src="./assets/images/ProjectIntroduction.png" width="30" height="30" alt="ProjectIntroduction">
          Project Introduction
        </td>
        <td>
          {{projectIntroduction}}
        </td>
      </tr>
      <tr>
        <td>
          <img src="./assets/images/RepoUrl.png" width="30" height="30" alt="RepoUrl">
          GitHub Repo Url
        </td>
        <td>
          <a href={{githubUrl}} class="RepoUrl" target="_blank">{{githubUrl}}</a>
        </td>
      </tr>
      <tr>
        <td>
          <img class="RepoOwnerImg" src="./assets/images/RepoOwner.png" width="30" height="30" alt="RepoOwner">
          GitHub Repo Owner
        </td>
        <td>
          {{owner}}
        </td>
      </tr>
    </table>
  </div>
</div>
