div.myButton > button {
  border: none;
  background-color: rgba(255, 127, 80, 0);

  font-family: "Comic Sans MS", sans-serif;
  color: 	#404040;
  text-align: center;
  display: inline-block;
  padding: 20px 0 20px 0;
  margin-right: 50px;
  font-size: 22px;

  outline:none;

  border-radius: 10px;
}

div.myButton > button:hover {
  color: 	#F08080;
}

div.myButton > button:last-child {
  margin-right: 0;
}
