<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <link rel="stylesheet" href="sonarqube.component.css">-->
<!--  <title>-->
<!--    SonarQube-->
<!--  </title>-->
<!--</head>-->

<!--<body>-->
<!--上左下右-->
<div style="padding:10px 80px 10px 80px; width: 100%">
      <table class="sonarTable">
        <tr>
          <td>
            <img src="https://img.onl/JFTeKp" width="180" height="180" alt="photo">
          </td>
        </tr>
        <tr>
          <td style="margin: 20px">
            <h2>SonarQube</h2>
          </td>
        </tr>
        <tr>
          <td>
            <img src="./assets/images/CodeCoverage.png" width="40" height="40" alt="Code Coverage">
            <font class="sonar_name" size="4"><b>Code Coverage</b></font>
            <font class ="sonar_index"><b>{{datas.coverage}}</b></font>
<!--            <br>-->
<!--            <div class="sonar_index">{{datas.coverage}}</div>-->
          </td>
          <br>
        </tr>
        <tr>
          <td>
            <br>
            <img class="bug" src="./assets/images/bug_new.png" width="42" height="42" alt="Bugs">
            <font class="sonar_name" size="4"><b>Bugs</b></font>
            <font class ="sonar_index"><b>{{datas.bugs}}</b></font>

<!--            <div class="sonar_index">{{datas.bugs}}</div>-->
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <img src="./assets/images/CodeSmell.png" width="40" height="40" alt="Code Smells">
            <font class="sonar_name" size="4"><b>Code Smells</b></font>
            <font class ="sonar_index"><b>{{datas.codeSmell}}</b></font>
<!--            <br>-->
<!--            <div class="sonar_index">{{datas.codeSmell}}</div>-->
          </td>
        </tr>
        <tr>
          <td>
            <br>
            <img src="./assets/images/duplicate.png" width="40" height="40" alt="Duplication">
            <font class="sonar_name" size="4"><b>Duplication</b></font>
            <font class ="sonar_index"><b>{{datas.duplication}}</b></font>
<!--            <br>-->
<!--            <div class="sonar_index">{{datas.duplication}}</div>-->
          </td>
        </tr>
      </table>
</div>
<!--</body>-->

<!--</html>-->
