<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <link rel="stylesheet" href="sonarqube.component.css">-->
<!--  <title>-->
<!--    SonarQube-->
<!--  </title>-->
<!--</head>-->

<!--<body>-->
<!--上左下右-->

<div style="width: 100%; text-align: center">
      <table class="sonarTable" style="margin: auto;">
        <tr>
          <td style="text-align: center">
            <a href={{githubUrl}} target="_blank">
              <img src="https://upload.cc/i1/2022/01/03/PVxkFE.png" width="180" height="180" alt="photo">
            </a>
          </td>
        </tr>
        <tr>
          <td style="margin: 20px; text-align: center">
            <h2>SonarQube</h2>
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <img src="./assets/images/CodeCoverage.png" width="40" height="40" alt="Code Coverage">
            <span class="sonar_name" size="4"><b>Code Coverage</b></span>
            <span class ="sonar_index"><b>{{datas.coverage}} %</b></span>
<!--            <br>-->
<!--            <div class="sonar_index">{{datas.coverage}}</div>-->
          </td>
          <br>
        </tr>
        <tr>
          <td style="text-align: left">
            <br>
            <img src="./assets/images/duplicate.png" width="40" height="40" alt="Duplication">
            <span class="sonar_name" size="4"><b>Duplication</b></span>
            <span class ="sonar_index"><b>{{datas.duplication}} %</b></span>
            <!--            <br>-->
            <!--            <div class="sonar_index">{{datas.duplication}}</div>-->
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <br>
            <img class="bug" src="./assets/images/bug_new.png" width="42" height="42" alt="Bugs">
            <span class="sonar_name" size="4"><b>Bugs</b></span>
            <span class ="sonar_index"><b>{{datas.bugs}}</b></span>

<!--            <div class="sonar_index">{{datas.bugs}}</div>-->
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <br>
            <img src="./assets/images/CodeSmell.png" width="40" height="40" alt="Code Smells">
            <span class="sonar_name" size="4"><b>Code Smells</b></span>
            <span class ="sonar_index"><b>{{datas.codeSmell}}</b></span>
<!--            <br>-->
<!--            <div class="sonar_index">{{datas.codeSmell}}</div>-->
          </td>
        </tr>
      </table>
</div>
<!--</body>-->

<!--</html>-->
