img {
  vertical-align: middle;
}

.sonar_index{
  margin-left:10px;
}
.sonar_name{
  margin-left:10px;
}

.bug{
  transform:translateX(-3px);
}

table.sonarTable td {
  padding: 0 10px 10px 10px;
}

.GitHubUser {
  text-decoration: none;
}
