<head>
  <meta charset="UTF-8">
  <title>QQ</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<!--<body>-->
<!--<i class="fa fa-thumbs-o-up fa-5x"></i>-->
<!--</body>-->

<body>
<div class="row" style="padding:10px 100px 10px 100px;">
<!--  <div class="col-4">-->
<!--    <app-repo-imformation></app-repo-imformation>-->
<!--  </div>-->
  <!--<app-header></app-header>-->
  <div class="col-4">
    Replaced with User info
  </div>

  <div class="col-8">
    <button  class="myButton" (click)="goToCreateGithubPage()">Github</button>
    <button  class="myButton" (click)="goToCreateSonarbPage()">SonarQube</button>
  </div>
</div>
<app-footer></app-footer>
</body>

